#history {
    background-color: #1f2235;
    .row {
        padding: 250px 0;
        background-position: left;
        background-size: cover;
        background-repeat: no-repeat;

        .text-box {
            padding-left: 5rem;

            @media (max-width: 768px) {
                padding-left: 1rem;
            }
        }
    }
}

.sub-title {
    font-size: 18px;
    color: #e8bb77;
}

.title {
    font-size: 55px;
    color: white;
}

.description {
    font-size: 16px;
    color: white;
    font-weight: 400;
}
