.hero-home {
    color: white;
    height: 80%;

    h1 {
        font-size: 50px;
        margin-bottom: 25px;
    }

    p {
        font-size: 16px;
    }
}

.btn-common {
    color: white;
    border: 1px solid #e8bb77;
    padding: 15px 30px;
    margin-top: 15px;

    i {
        margin-left: 25px;
        transition: ease-in-out 0.2s;
    }
    transition: ease-in-out 0.3s;

    &:hover {
        background-color: #e8bb77;
        color: #202531;
        i {
            transform: translateX(8px);
        }
    }
}
